<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://kudah.herokuapp.com"><span class="glyphicon glyphicon-book"></span>  Provisioned by Kudakwashe Paradzayi</a>
      </li>
    </ul>
  </div>
</nav>
