<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron">
  <a href="/postgres.dump" class = "btn btn-primary col-md-6" style="left:20px;"><span class = " glyphicon glyphicon-download"></span>  Download the backup</a>
</div>

</body>
</html>
